:root {
    --bg_color: #008B8B;
    background-color: #FFFAF0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background: #0077cc;
    color: #fff;
    padding: 10px 0;
    text-align: center;
}

.sitename h1 {
    margin: 0;
    font-size: 2.5em;
}


.main {
    padding: 20px;
}

.content {
    display: flex  inline;
    flex-direction: column;
    gap: 15px;
}


.new_Item {
    background: #fff;
    border-radius: 4px;
    padding: 12px;
}

.new_Item:hover {
    transform: scale(1.02);
}

.new_Item__title {
    font-size: 1.5em;
    margin: 0 0 10px;
}

.new_Item__img img {
    width: 30%; 
    border-radius: 4px;
}

.new_Item__p {
    margin: 10px 0;
}

.new_Item__details {
    margin-top: 10px;
}
a {
    color: #0077cc;
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}
